@import 'tailwindcss';

html,
body {
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

@theme {
  --color-purple: #7c00ff;
  --color-purple-hover: #6300cc;
  --color-gray: #e7e7e7;

  --input-border-width: 1.5px;
}

input {
  border-width: var(--input-border-width);
  border-radius: var(--radius-lg);
  font-weight: normal;
}

input:focus-visible {
  outline: solid var(--input-border-width) var(--color-purple);
}

button {
  background-color: var(--color-purple);
  border-radius: var(--radius-lg);
  color: var(--color-white);
}

button:hover {
  background-color: var(--color-purple-hover);
  cursor: pointer;
}

.border {
  border-width: var(--input-border-width);
}
